@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100dvh;
}

@layer base {
  html {
    font-family: 'Noto Sans', sans-serif;
  }

  h1 {
    font-family: 'Kanit', sans-serif;
  }
}

.position {
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: flex-end !important;
  }
}

.fill {
  @media screen and (max-width: 1023px) {
    height: 9px !important;
  }
  @media screen and (min-width: 1024px) {
    width: 100% !important;
  }
}

/* Don't display arrow buttons in input type number */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
