@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100dvh;
}

/* HeadlessUI Modal adds padding left to everything, this counters it for now */
html {
  padding: 0 !important;
}

/* Small fixes for material-ui calendar */
.css-3dah0e-MuiModal-root-MuiDialog-root {
  padding: 0 0.5rem;
}
.css-3dah0e-MuiModal-root-MuiDialog-root .MuiDialog-paper {
  min-width: 100% !important;
}

/* Don't display arrow buttons in input type number */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
